
/*Body Styles*/
body {
  background-image: url("../images/page_background.jpg");
  background-attachment: fixed;
  font-family: Arial Black;
  display: block;
  margin: 0 auto;
  width: 900px;
}

/*Banner Styles*/
#banner {
  box-sizing: border-box;
  border: 4px solid gray;
  border-bottom: none;
  background-color: white;
  border-radius: 25px 25px 0px 0px;
  margin-top: 50px;
  float: left;
  height: 210px;
  overflow: hidden;
  width: 900px;
}

#banner h1 {
  padding-top: 40px;
  font-size: 40px;
  padding-left: 15px;
  margin: 0;
}

#banner h3 {
  font-size: 30px;
  padding-left: 50px;
  padding-top: 0px;
  margin: 0;
}

/*Navigation Styles*/
#nav ul {
  background: gray;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
  width: 900px;
}

#nav ul li {
  float:left;
  font-size: 30px;
}

#nav ul li a {
  color: white;
  text-align: center;
  text-decoration: none;
  padding-left: 86px;
  padding-right: 86px;
}

#nav ul li a:last-of-type {
  padding-right: 86px;
}

#nav ul li:hover {
  background: black;
}

#nav ul li a:hover {
  background-color: black;
}

#nav li {
  border-right: 1px solid #bbb;
}

#nav li:last-child {
  border-right: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: black;
}

/*Section Styles*/
section {
  box-sizing: border-box;
  border: 4px solid gray;
  border-bottom:none;
  border-top: none;
  float: left;
  padding:0;
  margin:0;
  overflow: hidden;
  background: white;
  width: 900px;
}

section:last-of-type {
  border-radius: 0px 0px 25px 25px;
  margin-bottom: 50px;
  border-bottom: 4px solid gray;
} 

#resume_education, #resume_experience, #resume_skills, #resume_activities, #resume_references {
  padding-left: 25px;
}

#resume_education, #resume_experience, #resume_skills, #resume_activities, #resume_references {
  padding-left: 25px;
}

/*Heading Styles*/
#resume_education h3, #resume_experience h3, #resume_skills h3, #resume_activities h3, #resume_references h3 {
  padding-left: 20px;
}

#index_sec_1 h2 {
  font-size: 30px;
  text-align: center;
}

#aboutme_sec_1 h2 {
  font-size: 30px;
  text-align: center;
}

#aboutme_sec_1 {
	padding-right: 8px;
}

/*Paragraph Styles*/
#index_sec_1 p {
  font-size: 16px;
  text-align: left;
  padding-left: 15px;
}

#resume_education p, #resume_experience p, #resume_skills p, #resume_activities p, #resume_references p {
  padding-left: 40px;
}

/*List Styles*/
#resume_education ul, #resume_experience ul, #resume_skills ul, #resume_activities ul, #resume_references ul {
  padding-left: 60px;
}

#aboutme_sec_1 ul li {
  list-style-type: none;
  padding-left: 25px;
}

/*Image Styles*/
#aboutme_sec_1 img {
  padding-top: 25px;
  display: block;
  float: left;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

/*Video Link Styles*/
iframe  {
  border: none;
  display: block;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  width: 700px;
}
